
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: auto;">Knowledge is Power</span>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="true">
    <div class="navigation">
      <ng-container *ngFor="let link of navigation" (click)="isNavigation = !isNavigation">
        <a [routerLink]="'./articles'" [queryParams]="{topic: link.url}">{{link.name}}</a>
      </ng-container>
    </div>
  </mat-drawer>

  <div class="content">
    <ng-content></ng-content>
  </div>

</mat-drawer-container>
